
main{
  position: relative;
  background: linear-gradient(blueviolet, indigo);
  width: 100%;
  min-height: 100vh;
}
.contentInput{
  width: 18rem;
  height : "18rem";
  position : "absolute";
  top : "100%";
  left : "50%";
  display : "flex";
  align-items:center; 
  justify-content: center;
  background-color: #f4f4f4;
}



